# Django
*.pyc
__pycache__/
db.sqlite3
.env

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Static files
staticfiles/
media/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Archivos temporales
import_report_*.csv
